<a href="https://colab.research.google.com/github/galaxy-kim/Python_note_backup/blob/main/%EA%B0%95%EC%84%9C_%EB%B6%88%EB%B2%95%EC%A3%BC%EC%A0%95%EC%B0%A8%EB%8B%A8%EC%86%8D_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df1=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ubion_given_data/강서구빅데이터_관련데이터/서울특별시_강서구_불법주정차단속자료_20201231.csv",encoding="cp949")
df2=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ubion_given_data/강서구빅데이터_관련데이터/서울특별시_강서구_불법주정차단속자료_20211231.csv",encoding="cp949")

In [ ]:
df1

               단속일   단속시간            단속장소
0       2020-01-01  00:46          662-14
1       2020-01-01  00:46          662-11
2       2020-01-01  00:51             660
3       2020-01-01  00:51  706 서낭당공원관리사무실
4       2020-01-01  05:55         1373 부근
...            ...    ...             ...
175060  2020-12-31  21:45        유림트윈파크주변
175061  2020-12-31  21:46      화곡푸르지오후문주변
175062  2020-12-31  21:53         행사전용주차장
175063  2020-12-31  22:24         행사전용주차장
175064  2020-12-31  22:34     가양시니어스타워 주변

[175065 rows x 3 columns]

In [ ]:
df2

               단속일   단속시간                 단속장소
0       2021-01-01  06:56                강서로19
1       2021-01-01  10:04           등촌로35길 123
2       2021-01-01  11:08              강서로 218
3       2021-01-01  11:25              1373 부근
4       2021-01-01  11:28               하늘길 부근
...            ...    ...                  ...
185685  2021-12-31  22:53             공항동 1373
185686  2021-12-31  22:58   서울특별시 강서구 양천로65길 7
185687  2021-12-31  23:03             공항동 1373
185688  2021-12-31  23:03             공항동 1373
185689  2021-12-31  23:10  서울특별시 강서구 화곡로46길 20

[185690 rows x 3 columns]

In [ ]:
df1.columns

Index(['단속일', '단속시간', '단속장소'], dtype='object')

In [ ]:
df1_c=df1['단속장소'].value_counts()

In [ ]:
df1_c.head(50)

보타닉파크타워 주변       7103
트라이콤택주변          4151
좋은책신사고주변         3630
마곡필네이처오피스텔주변     3581
1373 부근          3564
886 부근           2955
화곡본동시장(구도로)      2844
홈플러스강서점뒤주변       2839
마곡지엠지타워 주변       2838
국내선1층            2570
마곡사이언스타워 주변      2282
발산역1번출구주변        2171
의약품수출입협회주변       2122
국내선2층            2098
증미역4번출구주변        2076
가양시니어스타워 주변      2053
힐스테이트에코주변        2039
이대병원응급센터주변       1928
행사전용주차장          1894
홈앤쇼핑주차장주변        1886
이대병원정문주변         1882
FITI시험연구원주변      1795
인터시티호텔주변         1697
서울식물원주변          1615
부민병원뒷편주변         1597
유림트윈파크주변         1428
공진초교 주변          1340
원당공원입구 주변        1317
KT화곡지사주변         1290
마곡중앙8로3길 부근      1249
수명산4단지상가동 주변     1220
홈플러스가양점주변        1192
방화서주차장주변         1185
한길자동차매매센터주변      1133
영보빌딩 주변          1118
에스오일TS센터주변       1103
에스오일센터주변         1087
812 부근           1075
마곡중앙로 부근         1068
동아3차아파트주변        1040
SK방화동주유소 주변      1029
엠밸리15단지주변        1001
볏골공원앞주변           978
마곡13단지힐스테이트 앞     894
화곡1동우리은행주변        874
강서로 부근            865
라인아파트주변           859
양천초교앞             856
763-15 부근         853
마곡서로 부근           847
Name: 단속장소, dtype: int64

In [ ]:
df1_d=df1_c.reset_index()
df1_d.columns=['단속장소','단속건수']

In [ ]:
df1_d

               단속장소  단속건수
0        보타닉파크타워 주변  7103
1           트라이콤택주변  4151
2          좋은책신사고주변  3630
3      마곡필네이처오피스텔주변  3581
4           1373 부근  3564
...             ...   ...
17451       727-508     1
17452         998-2     1
17453     화곡로 135주변     1
17454  강서로5라길 133주변     1
17455      화곡로64길23     1

[17456 rows x 2 columns]

In [ ]:
df1_d.to_excel("/content/drive/MyDrive/Colab Notebooks/ubion_given_data/강서구빅데이터_관련데이터/불법주정차단속_2020_건수정렬.xlsx")

In [ ]:
df2_c=df2['단속장소'].value_counts()
df2_d=df2_c.reset_index()
df2_d.columns=['단속장소','단속건수']
df2_d

                      단속장소  단속건수
0                  1373 부근  5057
1                  행사전용주차장  4431
2                공공건축연구원주변  4237
3                 방신전통시장주변  3542
4                   886 부근  3413
...                    ...   ...
18567        방화대로7가길 59-13     1
18568           방화대로21길 36     1
18569      서울 강서구 강서로18가길6     1
18570         국회대로7길 91 주변     1
18571  서울특별시 강서구 화곡로46길 20     1

[18572 rows x 2 columns]

In [ ]:
df2_d.to_excel("/content/drive/MyDrive/Colab Notebooks/ubion_given_data/강서구빅데이터_관련데이터/불법주정차단속_2021_건수정렬.xlsx")