<a href="https://colab.research.google.com/github/galaxy-kim/Python_note_backup/blob/main/%EA%B8%B0%EC%A1%B4%EC%8B%9C%EC%9E%A5%EA%B2%80%EC%83%89%EB%9F%89%ED%86%B5%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
keyw=pd.read_excel("/content/drive/MyDrive/Colab Notebooks/datalab-5.xlsx")
keyw

            날짜     와우패스        날짜.1       해커스        날짜.2       에듀윌
0   2016-01-01  7.94148  2016-01-01  48.82411  2016-01-01  43.42929
1   2016-02-01  6.43489  2016-02-01  39.17623  2016-02-01  34.97491
2   2016-03-01  7.55658  2016-03-01  40.61012  2016-03-01  45.31186
3   2016-04-01  6.39118  2016-04-01  46.72880  2016-04-01  38.76101
4   2016-05-01  4.56481  2016-05-01  48.47490  2016-05-01  32.98396
..         ...      ...         ...       ...         ...       ...
79  2022-08-01  1.89817  2022-08-01  27.33224  2022-08-01  40.66275
80  2022-09-01  1.84465  2022-09-01  20.51602  2022-09-01  37.42390
81  2022-10-01  2.10200  2022-10-01  22.21037  2022-10-01  44.98806
82  2022-11-01  1.65332  2022-11-01  19.36355  2022-11-01  36.04888
83  2022-12-01  1.51863  2022-12-01  23.18444  2022-12-01  39.30959

[84 rows x 6 columns]

In [ ]:
keyw['날짜']=pd.to_datetime(keyw['날짜'])

In [ ]:
grouped = keyw.groupby(keyw['날짜'].dt.year)
sum_by_year1 = grouped['와우패스'].sum()
sum_by_year2 = grouped['해커스'].sum()
sum_by_year3 = grouped['에듀윌'].sum()

In [ ]:
sum_by_year1

날짜
2016    69.59520
2017    53.10120
2018    48.43158
2019    50.76997
2020    47.00617
2021    33.35275
2022    23.17280
Name: 와우패스, dtype: float64

In [ ]:
s1=pd.DataFrame(sum_by_year1)
s2=pd.DataFrame(sum_by_year2)
s3=pd.DataFrame(sum_by_year3)

In [ ]:
s1.to_excel("/content/drive/MyDrive/Colab Notebooks/기존시장_와우패스.xlsx")
s2.to_excel("/content/drive/MyDrive/Colab Notebooks/기존시장_해커스.xlsx")
s3.to_excel("/content/drive/MyDrive/Colab Notebooks/기존시장_에듀윌.xlsx")