<a href="https://colab.research.google.com/github/galaxy-kim/Python_note_backup/blob/main/%EB%AF%BC%EA%B0%84%EC%9E%90%EA%B2%A9%ED%86%B5%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

### 전체 민간자격증

In [4]:
m=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ubion_given_data/와우패스 분석용 데이터 수집/한국직업능력연구원_민간자격취득현황_20220906.csv",encoding='cp949')
m

,등록번호,자격명,자격발급기관,주무부처,검정방식,검정연도,등급,총검정횟수,총접수자수,총응시자수,총취득자수,합격률
0,'2008-0001,언어상호작용지도사,한국발표력연구학회,교육부,점수제,2017,1급,0,0,0,0,0.0
1,'2008-0001,언어상호작용지도사,한국발표력연구학회,교육부,점수제,2017,2급,0,0,0,0,0.0
2,'2008-0001,언어상호작용지도사,한국발표력연구학회,교육부,점수제,2017,3급,0,0,0,0,0.0
3,'2008-0002,리더스피치지도사,한국발표력연구학회,교육부,점수제,2017,1급,0,0,0,0,0.0
4,'2008-0002,리더스피치지도사,한국발표력연구학회,교육부,점수제,2017,2급,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
152642,'2021-006048,정리수납컨설턴트,사단법인 제주와이더블유씨에이,산업통상자원부,합격제,2021,2급,0,0,0,0,0.0
152643,'2021-006049,메타버스지도사,사단법인창의과학교육연구회,과학기술정보통신부,합격제,2021,1급,1,34,34,34,100.0
152644,'2021-006056,소프트웨어(SW·AI)교육강사,사단법인 지역소프트웨어산업발전협의회,과학기술정보통신부,합격제,2021,1급,0,0,0,0,0.0
152645,'2021-006056,소프트웨어(SW·AI)교육강사,사단법인 지역소프트웨어산업발전협의회,과학기술정보통신부,합격제,2021,2급,0,0,0,0,0.0
152646,'2021-006056,소프트웨어(SW·AI)교육강사,사단법인 지역소프트웨어산업발전협의회,과학기술정보통신부,합격제,2021,3급,0,0,0,0,0.0

In [5]:
m_19 = m[m['검정연도'] == 2019]
m_19

,등록번호,자격명,자격발급기관,주무부처,검정방식,검정연도,등급,총검정횟수,총접수자수,총응시자수,총취득자수,합격률
18,'2008-0003,리더십지도사,한국교육문화예술진흥원,교육부,합격제,2019,1급,0,0,0,0,0.00
19,'2008-0003,리더십지도사,한국교육문화예술진흥원,교육부,합격제,2019,2급,0,0,0,0,0.00
20,'2008-0003,리더십지도사,한국교육문화예술진흥원,교육부,합격제,2019,3급,0,0,0,0,0.00
65,'2008-0013,국제무역사,한국무역협회,산업통상자원부,합격제,2019,1급,2,8970,7180,1878,26.16
66,'2008-0013,국제무역사,한국무역협회,산업통상자원부,합격제,2019,2급,1,2144,1576,826,52.41
...,...,...,...,...,...,...,...,...,...,...,...,...
145711,'2019-006866,생활기술자격(목공),주식회사 성요셉목수학교,산림청,합격제,2019,3급,0,0,0,0,0.00
145718,'2019-006867,사회적경제전문강사지도사,참바른사회적협동조합,기획재정부,합격제,2019,단일등급,0,0,0,0,0.00
145720,'2019-006868,디지털경영관리자,주식회사 데이원컴퍼니,중소벤처기업부,합격제,2019,2급,0,0,0,0,0.00
145721,'2019-006868,디지털경영관리자,주식회사 데이원컴퍼니,중소벤처기업부,합격제,2019,1급,0,0,0,0,0.00
145724,'2019-006869,유아숲체험교육지도사,환경교육연구지원센터,산림청,합격제,2019,등급없음,0,0,0,0,0.00

In [6]:
m_20 = m[m['검정연도'] == 2020]
m_20

,등록번호,자격명,자격발급기관,주무부처,검정방식,검정연도,등급,총검정횟수,총접수자수,총응시자수,총취득자수,합격률
67,'2008-0013,국제무역사,한국무역협회,산업통상자원부,합격제,2020,1급,2,9494,7703,2313,30.03
68,'2008-0013,국제무역사,한국무역협회,산업통상자원부,합격제,2020,2급,1,1469,1213,714,58.86
155,'2008-0024,독서지도사,(사)한국독서문화재단,교육부,합격제,2020,2급,8,5,4,4,100.00
156,'2008-0024,독서지도사,(사)한국독서문화재단,교육부,합격제,2020,1급,8,10,10,8,80.00
168,'2008-0025,논술지도사,(사)한국독서문화재단,교육부,합격제,2020,등급없음,8,2,2,1,50.00
...,...,...,...,...,...,...,...,...,...,...,...,...
150868,'2020-006041,비대면교육전문가,커넥트밸류 주식회사,교육부,합격제,2020,2급,2,5,5,3,60.00
150869,'2020-006041,비대면교육전문가,커넥트밸류 주식회사,교육부,합격제,2020,3급,0,0,0,0,0.00
150875,'2020-006053,아동미술활동지도사,한국문화예술개발원,교육부,합격제,2020,1급,0,0,0,0,0.00
150876,'2020-006053,아동미술활동지도사,한국문화예술개발원,교육부,합격제,2020,2급,0,0,0,0,0.00
150877,'2020-006053,아동미술활동지도사,한국문화예술개발원,교육부,합격제,2020,3급,0,0,0,0,0.00

In [7]:
sum_by_year1 = m.groupby('검정연도')['총접수자수'].sum()
sum_by_year2 = m.groupby('검정연도')['총응시자수'].sum()
sum_by_year3 = m.groupby('검정연도')['총취득자수'].sum()

In [8]:
sum_by_year1

검정연도
2008    1666787
2009    1631354
2010    1396050
2011    2187252
2012    2368444
2013    2662194
2014    2648079
2015    4196544
2016    3426911
2017    3106110
2018    3172042
2019    3228310
2020    2027558
2021    1777966
Name: 총접수자수, dtype: int64

In [9]:
sum_by_year2

검정연도
2008    3504052
2009    1380378
2010    1179415
2011    1891417
2012    2080514
2013    2326345
2014    2323064
2015    2375582
2016    2844464
2017    2729381
2018    2740682
2019    2749497
2020    1766827
2021    1523587
Name: 총응시자수, dtype: int64

In [10]:
sum_by_year3

검정연도
2008     784039
2009     768801
2010     686056
2011    1299595
2012    1481752
2013    1678995
2014    1689809
2015    1746953
2016    2209230
2017    2122478
2018    2118742
2019    2121388
2020    1331049
2021    1019081
Name: 총취득자수, dtype: int64

In [11]:
df1=pd.DataFrame(sum_by_year1)
df2=pd.DataFrame(sum_by_year2)
df3=pd.DataFrame(sum_by_year3)

In [14]:
df1.to_excel("/content/drive/MyDrive/Colab Notebooks/ubion_given_data/와우패스 분석용 데이터 수집/한국직업능력연구원_민간자격_접수.xlsx")

In [15]:
df2.to_excel("/content/drive/MyDrive/Colab Notebooks/ubion_given_data/와우패스 분석용 데이터 수집/한국직업능력연구원_민간자격_응시.xlsx")
df3.to_excel("/content/drive/MyDrive/Colab Notebooks/ubion_given_data/와우패스 분석용 데이터 수집/한국직업능력연구원_민간자격_취득.xlsx")

In [16]:
all=pd.read_excel("/content/drive/MyDrive/Colab Notebooks/ubion_given_data/와우패스 분석용 데이터 수집/한국직업능력연구원_민간자격_현황_0821.xlsx")
all

    검정연도    총접수자수    총응시자수
0   2008  1666787  3504052
1   2009  1631354  1380378
2   2010  1396050  1179415
3   2011  2187252  1891417
4   2012  2368444  2080514
5   2013  2662194  2326345
6   2014  2648079  2323064
7   2015  4196544  2375582
8   2016  3426911  2844464
9   2017  3106110  2729381
10  2018  3172042  2740682
11  2019  3228310  2749497
12  2020  2027558  1766827
13  2021  1777966  1523587

### 장바구니 상위권 자격증 확인

In [17]:
m

,등록번호,자격명,자격발급기관,주무부처,검정방식,검정연도,등급,총검정횟수,총접수자수,총응시자수,총취득자수,합격률
0,'2008-0001,언어상호작용지도사,한국발표력연구학회,교육부,점수제,2017,1급,0,0,0,0,0.0
1,'2008-0001,언어상호작용지도사,한국발표력연구학회,교육부,점수제,2017,2급,0,0,0,0,0.0
2,'2008-0001,언어상호작용지도사,한국발표력연구학회,교육부,점수제,2017,3급,0,0,0,0,0.0
3,'2008-0002,리더스피치지도사,한국발표력연구학회,교육부,점수제,2017,1급,0,0,0,0,0.0
4,'2008-0002,리더스피치지도사,한국발표력연구학회,교육부,점수제,2017,2급,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
152642,'2021-006048,정리수납컨설턴트,사단법인 제주와이더블유씨에이,산업통상자원부,합격제,2021,2급,0,0,0,0,0.0
152643,'2021-006049,메타버스지도사,사단법인창의과학교육연구회,과학기술정보통신부,합격제,2021,1급,1,34,34,34,100.0
152644,'2021-006056,소프트웨어(SW·AI)교육강사,사단법인 지역소프트웨어산업발전협의회,과학기술정보통신부,합격제,2021,1급,0,0,0,0,0.0
152645,'2021-006056,소프트웨어(SW·AI)교육강사,사단법인 지역소프트웨어산업발전협의회,과학기술정보통신부,합격제,2021,2급,0,0,0,0,0.0
152646,'2021-006056,소프트웨어(SW·AI)교육강사,사단법인 지역소프트웨어산업발전협의회,과학기술정보통신부,합격제,2021,3급,0,0,0,0,0.0

In [18]:
m.columns

Index(['등록번호', '자격명', '자격발급기관', '주무부처', '검정방식', '검정연도', '등급', '총검정횟수', '총접수자수',
       '총응시자수', '총취득자수', '합격률'],
      dtype='object')

In [19]:
gn0 = m.groupby('자격명')['검정연도'].count()
gy0 = m.groupby('검정연도')['자격명'].count()

In [20]:
gn0

자격명
(BPA)행동심리분석강사        3
(MSIQ)데이터사이언스마스터     2
(MSIQ)디지털마케팅마스터      2
(사)한국하모니카리더스강사       7
(효)예절지도사            14
                    ..
힐링학습코칭지도사           18
힐빙관리지도사              3
힙합강사                 1
茶熏冥想강의전문지도자자격증      14
茶생활과함께하는청소년인성교육      6
Name: 검정연도, Length: 13051, dtype: int64

In [21]:
gy0

검정연도
2008      402
2009      568
2010      852
2011     1912
2012     2636
2013     4017
2014     6878
2015    10799
2016    18083
2017    21511
2018    23267
2019    25991
2020    21987
2021    13744
Name: 자격명, dtype: int64

In [31]:
m_g1 = m[m['자격명'] == '투자자산운용사']
m_g2 = m[m['자격명'] == '전산세무회계']
m_g3 = m[m['자격명'] == '신용분석사']
#m_g4 = m[m['자격명'] == '외환전문역']
#m_g5 = m[m['자격명'] == '경영지도사']
m_g4 = m[m['자격명'] == '무역영어']
#m_g7 = m[m['자격명'] == 'adsp']

In [33]:
g1_1=m_g1.groupby('검정연도')['총접수자수'].sum()
g1_2=m_g1.groupby('검정연도')['총응시자수'].sum()
g1_3=m_g1.groupby('검정연도')['총취득자수'].sum()

#### 투자자산운용사 (상승세)

In [34]:
g1_1

검정연도
2013     9049
2014     8362
2015     7836
2016    13939
2017    12349
2018    14424
2019    17879
2020     5270
2021    30877
Name: 총접수자수, dtype: int64

In [35]:
g1_2

검정연도
2013     5774
2014     5487
2015     5436
2016     9362
2017     8954
2018    10377
2019    13400
2020     4984
2021    23753
Name: 총응시자수, dtype: int64

In [36]:
g1_3

검정연도
2013    1338
2014    1366
2015    2317
2016    2872
2017    2678
2018    3379
2019    4303
2020    2349
2021    8914
Name: 총취득자수, dtype: int64

#### 신용분석사 (상승세)

In [37]:
g3_1=m_g3.groupby('검정연도')['총접수자수'].sum()
g3_2=m_g3.groupby('검정연도')['총응시자수'].sum()
g3_3=m_g3.groupby('검정연도')['총취득자수'].sum()

In [38]:
g3_1

검정연도
2010     1765
2011     2002
2012     1970
2013     2514
2014     3261
2015     4025
2016     5600
2017     6188
2018     5505
2019     7358
2020     9329
2021    14387
Name: 총접수자수, dtype: int64

In [39]:
g3_2

검정연도
2010     1093
2011     1301
2012     1299
2013     1746
2014     2367
2015     2861
2016     4055
2017     4439
2018     3893
2019     5276
2020     7533
2021    10757
Name: 총응시자수, dtype: int64

In [40]:
g3_3

검정연도
2010     317
2011     330
2012     349
2013     474
2014     679
2015     774
2016    1099
2017    1182
2018    1246
2019    1309
2020    2385
2021    2993
Name: 총취득자수, dtype: int64

#### 전산세무회계 (유지~상승)

In [41]:
g2_1=m_g2.groupby('검정연도')['총접수자수'].sum()
g2_2=m_g2.groupby('검정연도')['총응시자수'].sum()
g2_3=m_g2.groupby('검정연도')['총취득자수'].sum()

In [42]:
g2_1

검정연도
2008    145501
2009    179628
2010    182308
2011    182592
2012    192236
2013    215393
2014    234649
2015    273899
2016    277817
2017    286517
2018    281246
2019    281172
2020    203878
2021    273858
Name: 총접수자수, dtype: int64

In [43]:
g2_2

검정연도
2008    112312
2009    142604
2010    143892
2011    142386
2012    150344
2013    169954
2014    184523
2015    211736
2016    210260
2017    217219
2018    211036
2019    209289
2020    157018
2021    200875
Name: 총응시자수, dtype: int64

In [44]:
g2_3

검정연도
2008    42185
2009    48512
2010    48826
2011    45535
2012    44020
2013    60892
2014    75941
2015    80745
2016    91241
2017    84879
2018    79799
2019    77498
2020    72509
2021    77324
Name: 총취득자수, dtype: int64

#### 무역영어 (상승)

In [45]:
g4_1=m_g4.groupby('검정연도')['총접수자수'].sum()
g4_2=m_g4.groupby('검정연도')['총응시자수'].sum()
g4_3=m_g4.groupby('검정연도')['총취득자수'].sum()

In [46]:
g4_1

검정연도
2008    23281
2009    27549
2010    23775
2011    23239
2012    23863
2013    30861
2014    22807
2015    23421
2016    19168
2017    18825
2018    20133
2019    22746
2020    21278
2021    34019
Name: 총접수자수, dtype: int64

In [47]:
g4_2

검정연도
2008    16597
2009    18990
2010    17480
2011    16068
2012    16874
2013    17435
2014    15918
2015    16762
2016    14022
2017    13602
2018    14404
2019    15755
2020    15705
2021    18920
Name: 총응시자수, dtype: int64

In [48]:
g4_3

검정연도
2008    3845
2009    6235
2010    5847
2011    4113
2012    5954
2013    5563
2014    6581
2015    6471
2016    5353
2017    5221
2018    6439
2019    6148
2020    5438
2021    5551
Name: 총취득자수, dtype: int64

#### 자격명 확인

In [49]:
f1 = m[m['자격명'].str.contains('외환')]
f2 = m[m['자격명'].str.contains('데이터')]
f3 = m[m['자격명'].str.contains('AD')]
f4 = m[m['자격명'].str.contains('은행')]

In [54]:
f1_1=f1.groupby('자격명')['검정연도'].count()

In [55]:
f1_1

자격명
외환거래지도사        2
외환관리사          9
외환전문역I,II종    11
Name: 검정연도, dtype: int64

In [56]:
f2_1=f2.groupby('자격명')['검정연도'].count()
f2_1

자격명
(MSIQ)데이터사이언스마스터          2
DSAC(데이터사이언티스트능력인증자격)    12
NCS활용빅데이터전문지도사            6
경영빅데이터분석사                21
공공빅데이터분석사                 6
공정데이터분석사                 12
기술비즈니스빅데이터지도사             3
기업실무형데이터분석마스터             7
데이터감정사                    2
데이터베이스관리사                 2
데이터분석                    16
데이터분석사                    6
데이터실무분석전문가                1
데이터아키텍처                  22
데이터자산운용사                  2
마이데이터관리사                  1
마케팅데이터분석사                15
마케팅빅데이터관리사                2
비즈니스 데이터                  5
비즈니스데이터전문가                1
비지니스데이터분석사                3
빅데이터/데이터과학전문가과정           1
빅데이터관리사                   6
빅데이터기술분석사                12
빅데이터디자인실무                 2
빅데이터마케팅전문가                3
빅데이터분석사                   6
빅데이터분석실무                 12
빅데이터전문가                  47
빅데이터직무강사                  5
빅데이터큐레이터                  4
사물인터넷빅데이터자격시험             4
산업빅데이터분석사                 4
상권빅데이터정보분석전문가             2
아이에스오경영시스템데이터해석사          2
엑셀데이터분석실무                12
재무빅데이터분석사                 2
제조빅데이터전문가                 2
컨택센터빅데이터전문가               2
Name: 검정연도, dtype: int64

In [57]:
f3_1=f3.groupby('자격명')['검정연도'].count()
f3_1

자격명
ADR의사소통코디네이터        6
ADT전문가              4
CADGM(캐드그레이딩마킹)    18
CAD실무능력자격          14
CAD실무능력평가(CAT)      6
CTC2DCAD            3
CTC3DCAD            6
앱창의개발능력(ADT)       16
Name: 검정연도, dtype: int64

In [58]:
f4_1=f4.groupby('자격명')['검정연도'].count()
f4_1

자격명
영업점컴플라이언스오피서(은행)    11
은행텔러(CBT)           11
Name: 검정연도, dtype: int64

In [59]:
f5=m[m['자격명'].str.contains('자산')]
f5_1=f5.groupby('자격명')['검정연도'].count()
f5_1

자격명
IFP(종합자산관리사)          5
근대문화자산안내전문가           2
글로벌자산운용역              2
데이터자산운용사              2
매경부동산자산관리사           18
부동산금융자산종합관리사          2
부동산자산관리전문가           12
빌딩자산관리자               4
소프트웨어자산관리사(C-SAM)    18
영업비밀브랜드자산가치관리사        4
자산관리사(FP)            11
종합자산관리사               8
투자자산운용사               9
한국형부동산자산관리전문가KPM      5
Name: 검정연도, dtype: int64

#### 자격명 추가 확인

In [60]:
m_g5 = m[m['자격명'] == '외환전문역I,II종']
m_g6 = m[m['자격명'] == '자산관리사(FP)']
m_g7 = m[m['자격명'] == '데이터분석']
#m_g8 = m[m['자격명'] == '']
#m_g9 = m[m['자격명'] == '']
#m_g10 = m[m['자격명'] == '']

#### 외환전문역 (유지)

In [61]:
g5_1=m_g5.groupby('검정연도')['총접수자수'].sum()
g5_2=m_g5.groupby('검정연도')['총응시자수'].sum()
g5_3=m_g5.groupby('검정연도')['총취득자수'].sum()

In [62]:
g5_1

검정연도
2011     7875
2012    14552
2013    16774
2014    22655
2015    25653
2016    28099
2017    25647
2018    21920
2019    24432
2020    16116
2021    21744
Name: 총접수자수, dtype: int64

In [63]:
g5_2

검정연도
2011     4711
2012     8823
2013    10871
2014    14997
2015    17155
2016    19403
2017    17237
2018    14304
2019    16606
2020    11287
2021    14928
Name: 총응시자수, dtype: int64

In [64]:
g5_3

검정연도
2011    1382
2012    2238
2013    3721
2014    5364
2015    5997
2016    5674
2017    3826
2018    4235
2019    4495
2020    3322
2021    4390
Name: 총취득자수, dtype: int64

#### 자산관리사 (상승)

In [69]:
g6_1=m_g6.groupby('검정연도')['총접수자수'].sum()
g6_2=m_g6.groupby('검정연도')['총응시자수'].sum()
g6_3=m_g6.groupby('검정연도')['총취득자수'].sum()

In [70]:
g6_1

검정연도
2011    20292
2012    16982
2013    15430
2014    10114
2015     8206
2016     7994
2017     6245
2018     6082
2019     6623
2020     4964
2021     7646
Name: 총접수자수, dtype: int64

In [71]:
g6_2

검정연도
2011    12747
2012    11436
2013    10235
2014     6692
2015     5417
2016     5541
2017     4334
2018     4114
2019     4478
2020     3594
2021     5471
Name: 총응시자수, dtype: int64

In [72]:
g6_3

검정연도
2011    2617
2012    3036
2013    2996
2014    1560
2015    1564
2016    1589
2017     993
2018    1139
2019    1161
2020    1215
2021    1545
Name: 총취득자수, dtype: int64

#### 데이터분석 (상승)

In [73]:
g7_1=m_g7.groupby('검정연도')['총접수자수'].sum()
g7_2=m_g7.groupby('검정연도')['총응시자수'].sum()
g7_3=m_g7.groupby('검정연도')['총취득자수'].sum()

In [74]:
g7_1

검정연도
2014     1819
2015     2883
2016     3741
2017     5471
2018     8338
2019    14704
2020    16782
2021    32713
Name: 총접수자수, dtype: int64

In [75]:
g7_2

검정연도
2014     1329
2015     2059
2016     3035
2017     4514
2018     6678
2019    11616
2020    13060
2021    25782
Name: 총응시자수, dtype: int64

In [76]:
g7_3

검정연도
2014      272
2015      591
2016     1084
2017     1557
2018     2714
2019     4625
2020     7121
2021    12406
Name: 총취득자수, dtype: int64

### 금융분야 자격 활용 통계 확인

In [77]:
fs=pd.read_excel("/content/drive/MyDrive/Colab Notebooks/ubion_given_data/와우패스 분석용 데이터 수집/기업내자격활용분야(원본).xlsx")
fs

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

       자격별(1)  산업별(1)  산업별(2)     2021  2021.1    2021.2  2021.3     2021.4
0      자격별(1)  산업별(1)  산업별(2)  사례수 (명)  채용 (%)  직무배치 (%)  승진 (%)  활용 안함 (%)
1   국가자격(개별법)      전체      소계      500    19.6      25.4     3.8       51.2
2         NaN      제조     소규모      256    14.8      21.9     2.7       60.5
3         NaN     NaN     중규모      110      30      31.8     0.9       37.3
4         NaN     NaN     대규모       26    23.1      46.2     3.8       26.9
..        ...     ...     ...      ...     ...       ...     ...        ...
66        NaN     NaN     중규모       12       0       8.3     8.3       83.3
67        NaN     NaN     대규모        6       0      33.3       0       66.7
68        NaN     비금융     소규모       45       0       8.9       0       91.1
69        NaN     NaN     중규모       30     6.7      13.3     3.3       76.7
70        NaN     NaN     대규모        7    14.3      14.3       0       71.4

[71 rows x 8 columns]